<h1>About Flyr</h1>

<p>
  Flyr is yet another bike-sharing platform, built for profit learning, understanding and re-implementing the robust engineering of such highly available systems. 'Flyr' stupidly means an open-source commute project. The project team aims to write the microservices from scratch, implement bike-sharing algorithms, do a lot of scalability and security engineering. The final product will 'at least' be able to demonstrate bike-booking, bike-pricing and time-and-route-estimations.
</p>